doctype html
head
  title Login User
  script(type='text/javascript').
h1 Welcome to user management system
#container.col
  a(href='/user/login') Login
  br
  a(href='/user/signup') Signup
  br
  a(href='/user/forgetpassword') Forget Password
  hr
  a(href='/setcookies') Set Cookie
  br
  a(href='/getcookies') Get Cookie
  br
  a(href='/clearcookies') Clear Cookie
  hr
  a(href='/setsession') Set Session
  br
  a(href='/getsession') Get Session
  br
  a(href='/clearsession') Clear session
  hr
  a(href='/user/details') Get country data from Database
  hr
  hr
  hr
  a(href='/userapi/getcountry') Country Data Api

